    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I am not sure what to write here as my cv does this shit too but anyway perhaps I can inform you of what I get up to and my personality. <a href="fred">fred</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>having done the General Assembly Web Development Immersive ourse I fell well positioned to enter the teh industry due to the depth of my knowledge and how the course has developed by enthusiasm for code.</p>
            </div>
        </div>
    </section>