    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>A desire for a change of direction in my life led me to take General Assembly's Web Development Immersive course in order that I could work in web development. 
                </p>
                <p>I had previously been an Army Officer in both an operational and ceremonial context and subsequently I ran a gold mine before having a life changing accident which made me take a long hard look at my life and I realised that I was not making the most of it hence the pursuit of this new career.</p>

                <p>Whilst the course has developed to prepare a graduate to be a full stack developer I feel that I could apply both my new skills from WDI and those that I have developed over my previous careers to become a Technical Project Manager.</p>
            </div>
        </div>
    </section>