    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="portfolio">Show Portfolio</h2>
                    <p>Below are the projects that I completed throughout Web Development Immersive in order to showcase my progress and my current ability.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Hangman.</a>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Canvas</a>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg"> GreenHub</a>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Find-ish</a>
                </div>
            </div>
        </div>
    </section>