    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="portfolio">Show Portfolio</h2>
                    <p>Below are the projects that I completed throughout Web Development Immersive:</p>
                    
                    <a href="https://hangfred.herokuapp.com/" class="btn btn-default btn-lg">Hangman.</a>
                    <p>Hangman. was my first project after three weeks of the course to consolidate what I had learnt using JavaScript, CSS and HTML.</p>

                    <a href="https://undeadcanvas.herokuapp.com/" class="btn btn-default btn-lg">Canvas</a>
                    <p>Canvas is a site for artists to show case their work and develop their portfolio in Ruby Sinatra and SQL.</p>

                    <a href="https://greenhub.herokuapp.com/" class="btn btn-default btn-lg">GreenHub</a>
                    <p>GreenHub is an application for green enthusiasts to suggest projects in their local area in order to improve their environment and allow volunteers to join a project in order to participate. This was a group project.</p>

                    <a href="https://findish.herokuapp.com/" class="btn btn-default btn-lg">Find-ish</a>
                    <p>A site to make tourism in London more fun by creating challenges and thus making the user go and see the sites.</p>
                    
                    <a href=https://faceoff-app.herokuapp.com/ class="btn btn-default btn-lg">FaceOff</a>
                    <p>This resulted from the Hackathon that we did towards the end of the course using an API that my colleague had found and we built a very amusing application.</p>
                </div>
            </div>
        </div>
    </section>